<a href="https://colab.research.google.com/github/debadattasarangi/ML/blob/main/Aerofit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
a=np.array([[ 7, 4, 8, 5, 1],  
 [ 8, 0, 11, 3, 5],  
 [ 9, 6, 3, 5, 0],  
 [ 1, 5, 7, 3, 2],  
 [ 4, 7, 2, 9, 1]])

In [ ]:
a

array([[ 7,  4,  8,  5,  1],
       [ 8,  0, 11,  3,  5],
       [ 9,  6,  3,  5,  0],
       [ 1,  5,  7,  3,  2],
       [ 4,  7,  2,  9,  1]])

In [2]:
import numpy as np
import pandas as pd
import matplotlib as mtp

In [3]:
aerofit=pd.read_csv("https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/001/125/original/aerofit_treadmill.csv?1639992749")

In [4]:
aerofit.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   KP281   18    Male         14        Single      3        4   29562    112
1   KP281   19    Male         15        Single      2        3   31836     75
2   KP281   19  Female         14     Partnered      4        3   30699     66
3   KP281   19    Male         12        Single      3        3   32973     85
4   KP281   20    Male         13     Partnered      4        2   35247     47

In [9]:
aerofit.shape
#size of dataset ->180 rows , 9 columns

(180, 9)

In [8]:
aerofit.info()
# there is no column with null values
# product , gender and maritialstatus columns contains string data , other columns contains int data
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB

In [11]:
aerofit.describe()

,Age,Education,Usage,Fitness,Income,Miles
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.455556,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.084797,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000

In [12]:
aerofit.nunique()
# aerofit provides 3 types of product to the different aged customers

Product           3
Age              32
Gender            2
Education         8
MaritalStatus     2
Usage             6
Fitness           5
Income           62
Miles            37
dtype: int64

In [24]:
aerofit.groupby(["Product"]).count()
# Most used trademill was KP281(entry-level treadmill that sells for $1,500.)

         Age  Gender  Education  MaritalStatus  Usage  Fitness  Income  Miles
Product
KP281     80      80         80             80     80       80      80     80
KP481     60      60         60             60     60       60      60     60
KP781     40      40         40             40     40       40      40     40

In [38]:
aerofit["Age"].describe()
# minimum customer age was 18 and maximum customer age was 50

count    180.000000
mean      28.788889
std        6.943498
min       18.000000
25%       24.000000
50%       26.000000
75%       33.000000
max       50.000000
Name: Age, dtype: float64

In [36]:
aerofit.groupby(["Age","Product"]).count().head(50)
# if you see the below table you can find that different trade mill products used by different types of aged people .The customers age between 18 th to 21 they used KP281 and KP481 products.
# So here its bit difficult to find the relationship between the product and the age

             Gender  Education  MaritalStatus  Usage  Fitness  Income  Miles
Age Product
18  KP281         1          1              1      1        1       1      1
19  KP281         3          3              3      3        3       3      3
    KP481         1          1              1      1        1       1      1
20  KP281         2          2              2      2        2       2      2
    KP481         3          3              3      3        3       3      3
21  KP281         4          4              4      4        4       4      4
    KP481         3          3              3      3        3       3      3
22  KP281         4          4              4      4        4       4      4
    KP781         3          3              3      3        3       3      3
23  KP281         8          8              8      8        8       8      8
    KP481         7          7              7      7        7       7      7
    KP781         3          3              3      3        3       3      3
24  KP281         5          5              5      5        5       5      5
    KP481         3          3              3      3        3       3      3
    KP781         4          4              4      4        4       4      4
25  KP281         7          7              7      7        7       7      7
    KP481        11         11             11     11       11      11     11
    KP781         7          7              7      7        7       7      7
26  KP281         7          7              7      7        7       7      7
    KP481         3          3              3      3        3       3      3
    KP781         2          2              2      2        2       2      2
27  KP281         3          3              3      3        3       3      3
    KP481         1          1              1      1        1       1      1
    KP781         3          3              3      3        3       3      3
28  KP281         6          6              6      6        6       6      6
    KP781         3          3              3      3        3       3      3
29  KP281         3          3              3      3        3       3      3
    KP481         1          1              1      1        1       1      1
    KP781         2          2              2      2        2       2      2
30  KP281         2          2              2      2        2       2      2
    KP481         2          2              2      2        2       2      2
    KP781         3          3              3      3        3       3      3
31  KP281         2          2              2      2        2       2      2
    KP481         3          3              3      3        3       3      3
    KP781         1          1              1      1        1       1      1
32  KP281         2          2              2      2        2       2      2
    KP481         2          2              2      2        2       2      2
33  KP281         2          2              2      2        2       2      2
    KP481         5          5              5      5        5       5      5
    KP781         1          1              1      1        1       1      1
34  KP281         2          2              2      2        2       2      2
    KP481         3          3              3      3        3       3      3
    KP781         1          1              1      1        1       1      1
35  KP281         3          3              3      3        3       3      3
    KP481         4          4              4      4        4       4      4
    KP781         1          1              1      1        1       1      1
36  KP281         1          1              1      1        1       1      1
37  KP281         1          1              1      1        1       1      1
    KP481         1          1              1      1        1       1      1
38  KP281         4          4              4      4        4       4      4

In [37]:
aerofit.groupby(["Age","Product"]).count().tail(50)

             Gender  Education  MaritalStatus  Usage  Fitness  Income  Miles
Age Product
26  KP281         7          7              7      7        7       7      7
    KP481         3          3              3      3        3       3      3
    KP781         2          2              2      2        2       2      2
27  KP281         3          3              3      3        3       3      3
    KP481         1          1              1      1        1       1      1
    KP781         3          3              3      3        3       3      3
28  KP281         6          6              6      6        6       6      6
    KP781         3          3              3      3        3       3      3
29  KP281         3          3              3      3        3       3      3
    KP481         1          1              1      1        1       1      1
    KP781         2          2              2      2        2       2      2
30  KP281         2          2              2      2        2       2      2
    KP481         2          2              2      2        2       2      2
    KP781         3          3              3      3        3       3      3
31  KP281         2          2              2      2        2       2      2
    KP481         3          3              3      3        3       3      3
    KP781         1          1              1      1        1       1      1
32  KP281         2          2              2      2        2       2      2
    KP481         2          2              2      2        2       2      2
33  KP281         2          2              2      2        2       2      2
    KP481         5          5              5      5        5       5      5
    KP781         1          1              1      1        1       1      1
34  KP281         2          2              2      2        2       2      2
    KP481         3          3              3      3        3       3      3
    KP781         1          1              1      1        1       1      1
35  KP281         3          3              3      3        3       3      3
    KP481         4          4              4      4        4       4      4
    KP781         1          1              1      1        1       1      1
36  KP281         1          1              1      1        1       1      1
37  KP281         1          1              1      1        1       1      1
    KP481         1          1              1      1        1       1      1
38  KP281         4          4              4      4        4       4      4
    KP481         2          2              2      2        2       2      2
    KP781         1          1              1      1        1       1      1
39  KP281         1          1              1      1        1       1      1
40  KP281         1          1              1      1        1       1      1
    KP481         3          3              3      3        3       3      3
    KP781         1          1              1      1        1       1      1
41  KP281         1          1              1      1        1       1      1
42  KP781         1          1              1      1        1       1      1
43  KP281         1          1              1      1        1       1      1
44  KP281         1          1              1      1        1       1      1
45  KP481         1          1              1      1        1       1      1
    KP781         1          1              1      1        1       1      1
46  KP281         1          1              1      1        1       1      1
47  KP281         1          1              1      1        1       1      1
    KP781         1          1              1      1        1       1      1
48  KP481         1          1              1      1        1       1      1
    KP781         1          1              1      1        1       1      1
50  KP281         1          1              1      1        1       1      1

In [44]:
aerofit.groupby(["Gender","Product"]).count()
# from below table i found that KP781 was more used by males as compared to femal
# mostly equall number of males and females using KP481 and KP281 trademills.
# For KP281 and KP481 We can target both female and male customers 
# For KP781 we can target male customers

                Age  Education  MaritalStatus  Usage  Fitness  Income  Miles
Gender Product
Female KP281     40         40             40     40       40      40     40
       KP481     29         29             29     29       29      29     29
       KP781      7          7              7      7        7       7      7
Male   KP281     40         40             40     40       40      40     40
       KP481     31         31             31     31       31      31     31
       KP781     33         33             33     33       33      33     33

In [45]:
aerofit.groupby(["Gender","MaritalStatus","Product"]).count()

                              Age  Education  Usage  Fitness  Income  Miles
Gender MaritalStatus Product
Female Partnered     KP281     27         27     27       27      27     27
                     KP481     15         15     15       15      15     15
                     KP781      4          4      4        4       4      4
       Single        KP281     13         13     13       13      13     13
                     KP481     14         14     14       14      14     14
                     KP781      3          3      3        3       3      3
Male   Partnered     KP281     21         21     21       21      21     21
                     KP481     21         21     21       21      21     21
                     KP781     19         19     19       19      19     19
       Single        KP281     19         19     19       19      19     19
                     KP481     10         10     10       10      10     10
                     KP781     14         14     14       14      14     14

In [49]:
aerofit.groupby(["MaritalStatus","Product"]).count()
# 60% of customers are married and 40% of customers are single .
# There is a high chance that if the customer was married then he can buy one of the tradermill.

                       Age  Gender  Education  Usage  Fitness  Income  Miles
MaritalStatus Product
Partnered     KP281     48      48         48     48       48      48     48
              KP481     36      36         36     36       36      36     36
              KP781     23      23         23     23       23      23     23
Single        KP281     32      32         32     32       32      32     32
              KP481     24      24         24     24       24      24     24
              KP781     17      17         17     17       17      17     17

In [64]:
aerofit.groupby(["Product","MaritalStatus","Income"]).count().head(180)
# We can recomend KP281 and KP481 trademill to the singles whose income ranges between 29562 to 50000 
# Singles whose income more than 50000 we can recomend them for KP481 and KP781
# Partners whose salary was greater than 50000 , we can recomemd them for KP781 trademill , whose salary less than 50000 will recomend them for KP481 and KP281 TRADEMILLS

                              Age  Gender  Education  Usage  Fitness  Miles
Product MaritalStatus Income
KP281   Partnered     30699     1       1          1      1        1      1
                      32973     1       1          1      1        1      1
                      34110     1       1          1      1        1      1
                      35247     3       3          3      3        3      3
                      37521     2       2          2      2        2      2
...                           ...     ...        ...    ...      ...    ...
KP781   Single        83416     1       1          1      1        1      1
                      88396     2       2          2      2        2      2
                      89641     1       1          1      1        1      1
                      90886     1       1          1      1        1      1
                      92131     1       1          1      1        1      1

[111 rows x 6 columns]

In [66]:
aerofit.groupby(["Product","MaritalStatus","Fitness","Income"]).count()
# We can recomend KP281 and KP481 trademill to the singles whose income ranges between 29562 to 50000 and the fitness level less than or equalls to 3
# Singles whose income more than 50000 we can recomend them for KP481 and KP781 and the fitness more than or equalls to 4

# Partners whose salary was greater than 50000 and fitness level >=4 , we can recomemd them for KP781 trademill whose , 
# Partners whose salary less than 50000 will recomend them for KP481 and KP281 TRADEMILLS

                                      Age  Gender  Education  Usage  Miles
Product MaritalStatus Fitness Income
KP281   Partnered     1       38658     1       1          1      1      1
                      2       34110     1       1          1      1      1
                              35247     2       2          2      2      2
                              40932     1       1          1      1      1
                              42069     1       1          1      1      1
...                                   ...     ...        ...    ...    ...
KP781   Single        5       61006     1       1          1      1      1
                              83416     1       1          1      1      1
                              88396     1       1          1      1      1
                              90886     1       1          1      1      1
                              92131     1       1          1      1      1

[140 rows x 5 columns]