Variables->Variable is a reserved memory location to store values.
Python is a dynamically typed which means that you dont need to declare datatype of variable

In [2]:
a=20

In [ ]:
int a=20

In [2]:
a

20

In [3]:
type(a)

int

In [4]:
#Float
d=12.5

In [5]:
#boolean data
b=True

Write a program to perform addition of two variables ?

In [4]:
a=13
b=45
print(a+b)

58

Data Structures
1->String
2->List
3->Tuple
4->Dictionary

String->In python ,strings are arrays of bytes repressinting unicode characters.Python doesnot have any character datatype.
A single character is simple a string with length 1.To retrive elements we can use [].

In [5]:
name='Rajesh'
DEPT="CSE"
roll='''df0123'''

In [7]:
name[4:]

'sh'

In [8]:
name[-1:]

'h'

In [ ]:
string name[start:end]

In [8]:
type(name)

str

In [9]:
type(DEPT)

str

In [10]:
type(roll)

str

Take input from user and perform addition operation?

In [9]:
a=input("1st no")
b=input("2nd no")
print(a+b)

1st no23
2nd no43
2343

In [10]:
type(a)

str

In [12]:
#Que -> Why the addition of a and b is 2145?
#Ans->when take i/p from user by using input() it alwayes stores the data as a string .
#So we need to typecast the data

In [11]:
a=int(input("1st no"))
b=int(input("2nd no"))
a+b

1st no23
2nd no43

66

In [12]:
a=int(input())

354

In [13]:
type(a)

int

String Methods

In [15]:
name="hands on machine learning"
name1="Hands On Machine Learning"

In [15]:
#Converts 1st char to upper case
name.capitalize()

'Hands on machine learning'

In [16]:
#convert string into lower case
name1.casefold()

'hands on machine learning'

In [16]:
#How to find the occurance of a specified value
name.count("a")

3

In [18]:
#find whether the last char is ends with a specified character or not
name.endswith('g')

True

In [17]:
#search a specific value and return the position
name.find('i')

13

In [20]:
#search a specified value and return the position
name.index('a')

1

In [21]:
#how to convert string into lower case
name1.lower()

'hands on machine learning'

List-->List can contains different types of data.
We can add and delet the element.
It allows duplicate members
All items are separated by ',' and enclosed by []

In [18]:
data=[12,43.4,'Machine Learning']

In [19]:
type(data)

list

Methods

In [20]:
#how can i add data in a list in the end
data2=[34,54]
data.append(data2)

In [21]:
data

[12, 43.4, 'Machine Learning', [34, 54]]

In [22]:
#how can i remove one element from the list
data.remove(43.4)

In [23]:
data

[12, 'Machine Learning', [34, 54]]

In [24]:
#how to reverse a list
data.reverse()

In [25]:
data

[[34, 54], 'Machine Learning', 12]

In [26]:
#how can i insert and delet a element from a specific location
#data.insert(pos,ele)
data.insert(1,5)

In [27]:
data

[[34, 54], 5, 'Machine Learning', 12]

In [28]:
#how to delet all elements of list
data.clear()

In [29]:
data

[]

In [30]:
#sort the list
data2.sort()

In [31]:
data2

[34, 54]

Tuple->A tuple is a sequence of immutable python objects.

In [35]:
a=(1,2,3,4)

In [36]:
type(a)

tuple

In [37]:
len(a)

4

In [38]:
max(a)

4

In [39]:
min(a)

1

Dictionary->It stores the data in key value order.

In [40]:
dict1={1:'a',
      2:'b',
      3:'c'}

In [41]:
type(dict1)

dict

In [42]:
dict1.keys()

dict_keys([1, 2, 3])

In [43]:
dict1.values()

dict_values(['a', 'b', 'c'])

In [44]:
dict1.get(1)

'a'


What is a function in Python and how to create a function?

Functions will be one of our main building blocks when we construct larger and larger amount of code to solve problems.

So what is a function?

A function groups a set of statements together to run the statements more than once. It allows us to specify parameters that can serve as inputs to the functions.

Functions allow us to reuse the code instead of writing the code again and again. If you recall strings and lists, remember that len() function is used to find the length of a string. Since checking the length of a sequence is a common task, you would want to write a function that can do this repeatedly at command.

Function is one of the most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

In [32]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

In [33]:
def fun():
    print("one")

In [34]:
fun()

one

In [36]:
def add_num(num2,num1):
    return num1+num2

In [38]:
add_num(4,7)

TypeError: add_num() missing 1 required positional argument: 'num1'

# map()
The map() is a function that takes in two arguments:

A function
A sequence iterable.
In the form: map(function, sequence)

The first argument is the name of a function and the second a sequence (e.g. a list). map() applies the function to all the elements of the sequence. It returns a new list with the elements changed by the function.

When we went over list comprehension we created a small expression to convert Fahrenheit to Celsius. Let's do the same here but use map.

We'll start with two functions:

In [39]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)


def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [,100, 22.5, 400]


def summ(x, y ):
    return x+y

In [40]:
F_temps = list(reduce(fahrenheit, temp))

#Show
F_temps

[32.0, 72.5, 104.0, 212.0]

# reduce()

The function reduce(function, sequence) continually applies the function to the sequence. It then returns a single value. 

If seq = [s1, s2, s3, ... , sn], calling reduce(function, sequence) works like this:

* At first the first two elements of sequence will be applied to function, i.e. func(s1,s2) 
* The list on which reduce() works looks like this: [ function(s1, s2), s3, ... , sn ]
* In the next step the function will be applied on the previous result and the third element of the list, i.e. function(function(s1, s2),s3)
* The list looks like: [ function(function(s1, s2),s3), ... , sn ]
* It continues like this until just one element is left and return this element as the result of reduce()

Let's see an example:

# OOPS Concept

The following python syntax defines a class:

    class ClassName(base_classes):
        statements

Class names should always be uppercase (it's a naming convention).

Say we need to model a Person as:

* Name
* Surname  
* Age

In [41]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = "Baldwin"
john_doe.year_of_birth = 1958


print(john_doe)
print(john_doe.name,john_doe.surname,john_doe.year_of_birth)

<__main__.Person object at 0x000001F2F3E47848>
Alec Baldwin 1958

In [43]:
class Animal:
    print("kjfsk")
    
cat=Animal()
tiger=Animal()

kjfsk

In [44]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name1 = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [46]:
alec = Person("ffhAlechg", "Baldwin", 1958)
print(alec)

<__main__.Person object at 0x000001F2F3EF1748>

In [47]:
alec.name1

'ffhAlechg'

In [48]:
class Person:
    def __init__(a, name, surname, year_of_birth):
        a.name = name
        a.surname = surname
        a.year_of_birth = year_of_birth
    
    def age(a, current_year):
        return current_year - a.year_of_birth
    
    def __str__(a):
        return "%s %s was born in %d ." % (a.name, a.surname, a.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2014))

Alec Baldwin was born in 1958 .
56

We defined two more methods `age` and  `__str__`. The latter is once again a special method that is called by Python when the object has to be represented as a string (e.g. when has to be printed). If the `__str__` method isn't defined the **print** command shows the type of object and its address in memory. We can see that in order to call a method we use the same syntax for attributes (**instance_name.instance _method**).

# Inheritance

In [55]:
class Student(Person):
    def __init__(self, student_id, *args):
        super(Student, self).__init__(*args)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie._student_id)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

1
<class '__main__.Student'>
True
True

In [56]:
class Std():
    print("std")

std

In [57]:
print(isinstance(Std,Person))

False

In [59]:
print(isinstance(Std,object))

True

# Overriding methods
Inheritance allows to add new methods to a subclass but often is useful to change the behavior of a method defined in the superclass. To override a method just define it again.

In [60]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was born in 2006 . And has ID: 1

We defined `__str__` again overriding the one wrote in Person, but we wanted to extend it, so we used super to achieve our goal.

In [49]:
if(condition):
    statement

NameError: name 'condition' is not defined

In [50]:
age=20
if age>18:
    print("able to vote")

able to vote

In [51]:
if age<18:
    print("not eligible")
else:
    print("eligible")

eligible

In [ ]:
if(condition):
    statement
else:
    statement

In [ ]:
while(condition):
    statement

In [ ]:
for i in a:
    print (i)

In [2]:
a=True
while a!=True:
    print("true")